.header {
	background: #007A8A;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.top_header {
    padding-top: 10px;
    padding-bottom: 90px;
}

.logo{
	padding: 5px 15px;
	background: #F25222;
	border-radius: 15px;
	margin-top: 12px;
}

.logo img{
	width: 80%;
	margin-left: 18px;
	margin-top: 5px;
}

.contact {
    color:white;
    margin-top: 28px;
    font-size:23px;
    padding-left: 25px;
    font-weight: bold;
}

.lang {
    color: white;
    margin-top: 32px;
    font-size: 18px;
    font-weight: bold;
}

    .lang p i {
        font-size: 15px;
        margin-left: 4px;
    }

.lost {
    margin-top: 35px;
}

.lost a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 17px 20px;
    background:#fbc222;
    border-radius: 3px;
}

.lost a:hover{
	background: #F0B204;
	transition-duration: .2s;
}

.about_doc {
    color: white;
}

    .about_doc h3 {
        font-size: 35px;
        margin: 0;

    }
.search_doc {
    padding-bottom: 80px;
}

.icon {
    color:#fbc222;
    margin-right: 5px;
}

.header .map {
    position: absolute;
    top: -15px;
    left: 10px;
}

.search {
    width: 100%; 
    padding: 30px 35px;
    background: white;
    float: right;
    position: relative;
    z-index: 15;
}

.search p {
    font-weight: bold;
    text-align: center;
}

.search .selection{
	margin-top: 5px;
	text-align: center;
}

.selection select{
	width: 95%;
	padding:10px 0 ;
	border: none;
	border-bottom: 1px solid #ccc
}

.selection .inputs{
	margin-top: 15px;
}

.selection input{
	padding: 15px 0;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 95%;
}

input[placeholder]{
	font-weight: bold;
}

.axtar{
	margin-top: 30px;
	text-align: center;
	padding: 5px 0;
	background: #FBC222;
	border-radius: 10px;
}
.senedler{
	position: relative;
	background: #F5F5F5;
	padding-top: 70px;
	padding-bottom: 100px;
}

.senedler .last_found{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}

.senedler .identities{
	margin-top: 25px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.identities .shexs{
	position: relative;
	background: white;
	border-radius: 5px;
	padding: 35px 5px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.11);
	width: 22%;
	margin-bottom: 30px;
}
.shexs .cart{
	margin: 20px;
}

.personal_info{
	position: absolute;
	left: 30%;
	top: 40px;
}
.personal_info p{
	margin: 0;
}

.personal_info .name{
	font-weight: bold;
	margin-bottom: 5px;
}

.btn{
	position: absolute;
	left: 44%;
	border: 1px solid #F25222;
	border-radius: 5px;
	padding: 15px 45px;
	font-weight: bold;
	background: none;
}

.btn:hover{
	background:#F25222;
	color: white
}

.aims{
	padding: 60px 0;
}

.melumat{
	margin-right: 35px;
}

.image{
	margin-left: 100px;
	margin-bottom: 40px;
}

.text{
	text-align: center;
}

hr{
	opacity: 0.5;
}

.footer{
	padding: 55px 0;
}

.footer p{
	margin:0;
	font-weight: bold; 
}

p .item{
	color: #FBC222;
	font-size: 25px;
	margin-right: 10px;
	margin-top: 15px;
}